@import "../../globals/variables";
@import "../../globals/mixins";

// Small Desktop Edits
@include max-screen(large) {
    footer {
        
    }
}

// Tablet Edits
@include max-screen(medium) {
    footer {
        
    }
}

// Mobile Edits
@include max-screen(small) {
    footer {
        
    }
}