// FONTS ===================================================================== *
body, html {
    //font-family: $work-sans!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// LINKS ===================================================================== *
a, a:active, a:visited {
    &:hover {
        transition: color 200ms ease-in-out;
    }
}

// UTILITY ===================================================================== *
// Show Grid
// .row [class*='col-'] {
//     background-color: #ffeeee;
//     background-clip: content-box;
//     min-height: 20px;
// }