/* SHAREPOINT OVERRIDES ===================================================== */

// IE layout display fixes
.s4-wpcell-plain,
.ms-webpartzone-cell,
.ms-webpart-cell-vertical-inline-table,
.ms-webpart-cell-vertical
/*,.ms-fullWidth  NOPE - This is too broad.  This was surfacing the ribbon inside popup boxes  */
{
    display: block!important;/*!important; DOES THIS HAVE TO BE IMPORTANT?*/
    position: relative;
    z-index: 0;
}

// Remove horizontal scrollbar
div#s4-workspace {
    overflow-x: hidden!important;
}

// Hide Ribbon TODO ***Need JS Solution***
// #s4-ribbonrow {
//     display: none!important;
// }


// Modal in Mobile
.modal {
    z-index: 1500;
    .modal-dialog {
        z-index: 2000;
        .modal-content {
            z-index: 2500;
        }
    }
}
