// COLORS ===================================================================== *
$blue: #1e3566;
$light-blue: #18bcd9;
$black: #222222;
$grey: #7b7b7b;
$medium-grey: #cdcdcd;
$light-grey: #efefef;
$white: #ffffff;
$light-green: #bdd654;
$green: #809b0b;
$red: #D63232;


// FONTS ===================================================================== *
// Family
//$work-sans: 'Work Sans', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// BREAKPOINTS (Media Queries) =============================================== *
$breakpoints: (
  'small'  : 767px,
  'medium' : 991px,
  'large'  : 1199px
);