/**
 *
 * Load configuration variables, Bootstrap styles, and core SPBones styles.
 *
 * Bootstrap is not loaded in its entirety. There is a high level of collision
 * when combining the entirety of the Bootstrap UI with the SharePoint UI
 * because they are both complex frameworks that offer many similar features. To
 * resolve this, we import only the most important aspects of Bootstrap that we
 * need in our application. Namely, this includes Bootstrap's scaffolding,
 * responsive grid, and utility styles.
 *
 */

// bootstrap variables and mixins
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables'; // v2.0
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// application configuration variables
@import 'config';

/*! Bootstrap v3.3 | MIT License | http://getbootstrap.com */
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize'; // v2.0
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/grid';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/utilities';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';

// font awesome icons
@import '../../node_modules/font-awesome/scss/font-awesome'; //v2.0
// @import '~font-awesome/scss/font-awesome';
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*! SPBones v3.0 by @kyleschaeffer | MIT License | https://github.com/oldrivercreative/spbones */

// sharepoint resets
@import 'collision';
@import 'reset';

// sharepoint styles
@import 'ribbon';
@import 'rte';
@import 'forms';
@import 'buttons';
@import 'webparts';
@import 'lists';
@import 'search';
